body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #040303;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes randomAnimate {
  0% {
    background: #94DAFF;
  }
  100% {
    background: #FBF8F1;

  }
}

.threebythree-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 100px;
  height: 100px;
  background: #94DAFF;
  margin: 10px;
}

.threebythree-tile:hover {
  transform: scale(.975);
}

.threebythree-tile:active {
  background: #5D8BF4;
}

.threexthree-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.fourbyfour-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 75px;
  height: 75px;
  background: #94DAFF;
  margin: 5px;
}

.fourbyfour-tile:hover {
  transform: scale(.975);
}

.fourbyfour-tile:active {
  background: #5D8BF4;
}

.fourxfour-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.fivebyfive-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 60px;
  height: 60px;
  background: #94DAFF;
  margin: 2.5px;
}

.fivebyfive-tile:hover {
  transform: scale(.975);
}

.fivebyfive-tile:active {
  background: #5D8BF4;
}

.fivebyfive-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
