body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #2FA4FF;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes randomAnimate {
  0% {
    background: #94DAFF;
  }
  100% {
    background: #FBF8F1;

  }
}

.threebythree-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 100px;
  height: 100px;
  background: #94DAFF;
  margin: 10px;
}

.threebythree-tile:hover {
  transform: scale(.975);
}

.threebythree-tile:active {
  background: #5D8BF4;
}

.threexthree-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.fourbyfour-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 75px;
  height: 75px;
  background: #94DAFF;
  margin: 5px;
}

.fourbyfour-tile:hover {
  transform: scale(.975);
}

.fourbyfour-tile:active {
  background: #5D8BF4;
}

.fourxfour-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.fivebyfive-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 60px;
  height: 60px;
  background: #94DAFF;
  margin: 2.5px;
}

.fivebyfive-tile:hover {
  transform: scale(.975);
}

.fivebyfive-tile:active {
  background: #5D8BF4;
}

.fivebyfive-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.sixbysix-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 50px;
  height: 50px;
  background: #94DAFF;
  margin: 2.5px;
}

.sixbysix-tile:hover {
  transform: scale(.975);
}

.sixbysix-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.twelvebysix-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.twentyfourbysix-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.sevenbyseven-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 45px;
  height: 45px;
  background: #94DAFF;
  margin: 2.5px;
}

.sevenbyseven-tile:hover {
  transform: scale(.975);
}

.sevenbyseven-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.massive-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 30px;
  height: 30px;
  background: #94DAFF;
  margin: 1.5px;
}

.massive-tile:hover {
  transform: scale(.975);
}

.massive-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.extreme-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.memorize-number {
  animation: fadeOut 1s;
}

.color-match {
  background: transparent;
  margin: 20px auto;
  border: none;
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
