body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #2FA4FF;
  color: white;
  animation: fadeIn 1s ease;
  animation-fill-mode: forwards;
  letter-spacing: 2.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

@keyframes randomAnimate {
  0% {
    background: #94DAFF;
  }
  100% {
    background: #FBF8F1;

  }
}

.fade-in {
  animation: fadeIn 1s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.navbar {
  padding: 10px 40px;
  background: transparent;
  text-align: justify;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h1 {
  display: inline;
  color: white;
  padding-left: 50px;
}

.menu-page {
  font-family: 'Press Start 2P', cursive;
  margin-top: 75px;
}

.menu-link {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;

}

.threebythree-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 100px;
  height: 100px;
  background: #94DAFF;
  margin: 10px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.threebythree-tile:hover {
  transform: scale(.975);
}

.threebythree-tile:active {
  background: #5D8BF4;
}

.threexthree-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.fourbyfour-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 75px;
  height: 75px;
  background: #94DAFF;
  margin: 5px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.fourbyfour-tile:hover {
  transform: scale(.975);
}

.fourbyfour-tile:active {
  background: #5D8BF4;
}

.fourxfour-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.fivebyfive-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 60px;
  height: 60px;
  background: #94DAFF;
  margin: 2.5px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.fivebyfive-tile:hover {
  transform: scale(.975);
}

.fivebyfive-tile:active {
  background: #5D8BF4;
}

.fivebyfive-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.sixbysix-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 50px;
  height: 50px;
  background: #94DAFF;
  margin: 2.5px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.sixbysix-tile:hover {
  transform: scale(.975);
}

.sixbysix-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.twelvebysix-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.twentyfourbysix-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.sevenbyseven-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 55px;
  height: 55px;
  background: #94DAFF;
  margin: 2.5px;
  color: rgb(65, 103, 228);
}

.sevenbyseven-tile:hover {
  transform: scale(.975);
}

.sevenbyseven-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.massive-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 40px;
  height: 40px;
  background: #94DAFF;
  margin: 1.5px;
  color: rgb(65, 103, 228);
}

.massive-tile:hover {
  transform: scale(.975);
}

.massive-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.extreme-tile {
  background: transparent;
  border: none;
  border-radius: 15%;
  width: 25px;
  height: 25px;
  background: #94DAFF;
  margin: 1.5px;
  color: rgb(65, 103, 228);
  font-size: 10px;
}

.extreme-tile:hover {
  transform: scale(.975);
}

.extreme-tile-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.memorize-number {
  animation: fadeOut 1s;
}

.color-match {
  background: transparent;
  margin: 20px auto;
  border: none;
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu-button, .menu-button::after {
  width: 380px;
  height: 86px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(45deg, transparent 5%, #FB9300 5%);
  border: 0;
  color: #fff;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  margin: 10px;
}

.menu-button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Brain Fumble';
  display: block;
  position: absolute;
  top: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FB9300 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.menu-button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.background {
  background: linear-gradient(132deg, #2FA4FF, #5463FF, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border-radius: 15%;
  background: #2FA4FF;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.player-score-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.player-score-card {
  margin: 20px;
}

.modal {
  background: #2FA4FF !important;
}

$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 10;
$in-w: $n-char*($char-w + $gap);

.game-input {
	display: block;
	margin: 10px auto;
	border: none;
	padding: 0;
	width: $in-w;
	background: repeating-linear-gradient(90deg, 
		white 0, white $char-w, 
		transparent 0, transparent $char-w + $gap) 
		0 100%/ #{$in-w - $gap} 2px no-repeat;
	font: 2.5ch droid sans mono, consolas, monospace;
	letter-spacing: $gap;
	
	&:focus {
		outline: none;
		color: white;
	}
}

.game-button {
  text-align: center;
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2.5px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  background: transparent;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.game-button:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.game-button:hover:before {
  left:95%;
}

.back {
  background: none;
  border: 0;
  position: absolute;
  height: 60px;
  width: 60px;
  top: -10px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right,
.stalk {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 1.2rem;
  background: white;
  border-radius: 0.2rem;
  z-index: 2;
  opacity: 1;
  left: 50%;
}

.top-left {
  transform: rotate(45deg);
  top: 2.4rem;
}

.top-right {
  transform: rotate(135deg);
  top: 2.4rem;
}

.bottom-left {
  transform: rotate(135deg);
  top: 3.2rem;
}

.bottom-right {
  transform: rotate(45deg);
  top: 3.2rem;
}

.top-left, .bottom-left {
  margin-left: -1rem;
}

.top-right, .bottom-right {
  margin-left: -0.2rem;
}

.stalk {
  top: 2.8rem;
  width: 2rem;
  opacity: 0;
}



.back--one {
  .top-left, .bottom-left {
    transition: opacity .3s 1s;
  }

  .top-right, .bottom-right {
    transition: margin-left .5s .5s;
  }

  .stalk {
    transition: margin-left .5s .5s, opacity .3s 1s;
  }

  .text {
    transition: opacity .3s 1s;
  }

  &:hover {
    .text {
      opacity: 1;
      transition: opacity .3s .5s;
    }
    .top-left, .bottom-left {
      opacity: 0;
      transition: opacity .3s .5s;
    }
    .top-right, .bottom-right {
      margin-left: -1.3rem;
      transition: margin-left .5s .8s;
    }
    .stalk {
      opacity: 1;
      margin-left: -1.2rem;
      transition: margin-left .5s .8s, opacity .3s .5s;
    }
  }
}